    <!-- EXTERNAL LIBS -->
    <script type="text/javascript" src="/script/jquery-3.2.1.min.js"></script>
    <!-- HELPERS -->
    <script type="text/javascript" src="/lib/helper/h_error.js"></script>
    <script type="text/javascript" src="/lib/helper/h_url.js"></script>
    <script type="text/javascript" src="/lib/helper/h_dom.js"></script>
    <script type="text/javascript" src="/lib/helper/h_ajax.js"></script>
    <!-- SCRIPTS -->
    <script type="text/javascript" src="/script/script.js"></script>
</body>
</html>