<% include partials/v_header %>
<div id="app" data-group="<%= group._id %>">
    <h1><%= group.name %></h1>

    <h2>Songs</h2>
    <div id="group_songs">
        <ul>
            <li>Aucun titre</li>
        </ul>
    </div>
</div>

<% include partials/v_footer %>